body {
    background-color: #81d8d0;
}

h1 {
    font-family: "Arial";
    font-weight: bold;
    color: #4a4849;
}

h1 {
    font-family: "Arial";
    font-weight: bold;
    color: #4a4849;
}

p {
    font-family: "Arial";
    font-size: 20px;
}

a:link {color: #4a4849}
a:visited {color: #0097ff}